*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 67.5%;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.cannotScroll {
    overflow: hidden;
    transition: all 1s ease;
}